{% extends 'jsprob/shabl.html' %}
{% block title %} ТУРНИР ТРЕНАЖЕР ПО УСТНОМУ СЧЕТУ {% endblock %}
{% block content %}

<aside>
    <h5 class="featuress" id = 'nomb' style="font-style: italic; font-size: min(35px, 5.5vw);"> Здравствуйте{{nm}}!{{us}} </h5>
    <h5 class="featuress" id = 'wait0' style="font-style: italic; font-size: min(32px, 5vw);"> Добро пожаловать на VI турнир по устному счету! </h5>
<!--    <h5 class="featuress" id = 'wait0' style="font-style: italic; font-size: min(32px, 4.2vw);"> Идет турнир, в рамках Математической недели. </h5>-->
    <h5 class="featuress" id = 'wait1' style="font-style: italic; font-size: min(28px, 3.9vw);"> Участвовать могут все: от мала до велика. </h5>
<!--    <h5 class="featuress" id = 'wait1' style="font-style: italic; font-size: min(28px, 3.7vw);"> Участвовать могут ученики любых классов Лицея №1. </h5>-->
</aside>

    <div class="features">
        <div class="column-left" style='{{st}}'>
          {% if fl1 == 1 %}
             <h5 class='leftstr' style='color:blue; font-size: min(28px, 3.2vw);'> Лидеры последних дней: </h5>
             {% for p in p1 %}
             <h6 class='leftstr' style="color:blue; font-size: min(22px, 2.5vw);"> {{p}} </h6>
             {% endfor %}
          {% else %}
             <h5 class='leftstr' style='color:blue; font-size: min(22px, 3vw);' align="left"> {{prit.0}} </h5>
             <h6 class='leftstr' style='color:blue; font-size: min(20px, 2.7vw);' align="right"> {{prit.1}} </h6>
          {% endif %}
        </div>

         <div class="column-right">
         <a style="font-size: min(22px, 2.7vw);" href="{% url 'toptab' %}" id = "butt3" class="btn btn-success btn-sm" onclick="Func()"> ТОП-ы ИГРОКОВ </a>
         <div style="height:10px"></div>
         <a style="font-size: min(22px, 2.7vw);" href="{% url 'instr' %}" id = "butt6" class="btn btn-success btn-sm" onclick="Func()"> ИНСТРУКЦИЯ </a></br>
         {% if user.is_authenticated %}
         <div style="height:10px"></div>
         <a style="font-size: min(22px, 2.7vw);" href="{% url 'progress' %}" id = "butt7" class="btn btn-success btn-sm" onclick="Func()"> Достижения </a>
         {% endif %}
         </div>
         <div style="clear: left"></div>

         <form action="" method="get">
            {% csrf_token %}
         <h4 id = 'wait'> </h4>
        {% if not user.is_authenticated %}
        <h4> <input type="text" id="inpu" name="lg" placeholder='Ваш уникальный Логин' maxlength="40"  size="20"> </h4></br>
        <button style="font-size: min(25px, 3vw);" class="btn btn-success btn" id = 'butt1' type="submit" name="intlg" onclick="Func()"> ВВЕСТИ </button></br>
             <div style="height:10px"></div>
        <button style="font-size: min(25px, 3vw);" class="btn btn-danger btn" id = 'butt2' type="submit" name="reg" onclick="Func()"> Зарегистрироваться </button></br></br>
        {% else %}
        </br>
        {% if fl0 == '0' %}
        <div class="column1-left">
        <a style="font-size: min(25px, 3vw);" href="{% url 'begin' %}" id = "butt4" class="btn btn-success" onclick="Func()"> НАЧАТЬ ИГРУ </a>
        </div>
        <div class="column1-center"><h4></h4></div>
        <div class="column-right">
        <button style="font-size: min(18px, 2.3vw);" type="submit" name="chfik" id = "butt8" class="btn btn-danger" onclick="Func()"> ИЗМЕНИТЬ ФИО </button>
        </div>
        <div style="clear: left"></div>
        </br>
             <div style="height:10px"></div>
        {% else %}
        <h4> ПОСМОТРИТЕ, ПОЖАЛУЙТСА, ОБЪЯВЛЕНИЕ НИЖЕ! </h4></br>
        {% endif %}
        {% if user.is_superuser %}

        <a href="{% url 'logout' %}" id = "butt5" class="btn btn-success" onclick="Func()"> Я не {{nm}} </a>
        <a href="{% url 'reset' %}" class="btn btn-danger"> Сброс </a>
         </br>
             <div style="height:10px"></div>
        {% endif %}
        {% endif %}

<!--            <h4 style='font-size: min(32px, 4vw);'> Математическая неделя окончена 09.04.2023 </h4>-->
<!--            <h4 style='font-size: min(32px, 4vw);'> Сроки математической недели: 03.04.2023 - 07.04.2023 </h4>-->
<!--            <h4 style="font-size: min(32px, 4vw);"> ПОЗДРАВЛЯЕМ победителей и призеров! </h4>-->
<!--            <h4 style="font-size: min(27px, 3.5vw);"> Набравший наибольшее число (в общем ТОП-е) среди каждой параллели получит небольшой ПРИЗ! </h4>-->
<!--            <h4 style="font-size: min(27px, 3.5vw);"> Для участия в турнире, при регистрации, вместо литеры класса укажите: 'НМ' (Например: 6НМ) </h4>-->
<!--            <h5 style="font-size: min(25px, 3.2vw);"> Информацию по победителям, призерам и призам можно узнать в комментарии <a href="https://vk.com/vovartus?w=wall4764971_3685%2Fall" target="_blank"> к данному посту. </a> </h5>-->
<!--            <h5 style="font-size: min(23px, 3vw);"> Призеры магматической недели, то есть те, кто набрали максимальное число баллов в своей параллели, написав литер класса 'НМ', обращайтесь в каб.№413 </h5>-->
<!--            <h5 style="font-size: min(23px, 3vw);"> Свой результат необходимо будет подтвердить лично. </h5>-->

            <h4 style="color: red; font-size: min(32px, 4vw);"> ВНИМАНИЕ! </h4>
            <h5 style="font-size: min(23px, 3vw);"> Если Вы неправильно внесли свои данные при регистрации и желаете сохранить свои достижения в ТОП-е, </h5>
            <h5 style="font-size: min(23px, 3vw);"> исправьте свои данные ФИО в соответствующем разделе.</h5>
            <h5 style="font-size: min(25px, 3.2vw);"> Участники с некорректными ФИО(ФИК) удаляются! </h5>
            <h5 style="font-size: min(23px, 3vw);"> Попыток по улучшению своего результата можно совершать неограниченное число раз. </h5>
            <h5 style="font-size: min(23px, 3vw);"> VI этап завершен. Подробности о победителях и призерах см.в разделе "Инструкция" и в <a href="https://vk.com/club223699010" target="_blank"> ГРУППЕ ВК </a> </h5>
            <h5 style="font-size: min(25px, 3.2vw);"> Итоги Рождественско-Новогоднего турнира будут подведены 13.01.2024г. в 20:00 по MSK </h5>
            <h5 style="font-size: min(23px, 3vw);"> Если Вы забыли свой логин <a href="https://vk.com/vovartus" target="_blank"> уточните в ЛС </a> .</h5>
<!--            <h5 style="font-size: min(25px, 3.2vw);"> Итоги турнира будут подведены: 07.04.2023 в 15:00  </h5>-->

        <!--<h5 style="font-size: max(12px, 1.2vw)"> Десять участников, занявшие первые места в ТОП-е игроков, получат символические вознаграждения: </h5>
        <h5 style="font-size: max(12px, 1.2vw)"> 1-3е места – 200рублей, 4-10е места – 100р. Кроме того: по 100р. получат те, кто попадет не менее 10 раз в ТОП-7 дня, </h5>
        <h5 style="font-size: max(12px, 1.2vw)"> и по 200рублей, те кто не менее 5 раз станет лидером дня.</h5>
        <h4> Производится коррекция. Результат лукавых ТОП-ов будет удален.</h4>
        <h4 style="color: red"> ВНИМАНИЕ! </h4>
        <h5> Если Вы неправильно внесли свои данные при регистрации и желаете сохранить свои достижения в ТОП-е, </h5>
        <h5> <a href="https://vk.com/vovartus" target="_blank"> обозначьте свои истинные ФИО в ЛС </a> . Участники с некорректными ФИО(ФИК) удаляются! </h5>
        <h5> Попыток по улучшению своего результата можно совершать неограниченное число раз. </h5>
        <h5> Десять участников, занявшие первые места в ТОП-е игроков, получат символические вознаграждения: </h5>
        <h5> 1-3е места – 200рублей, 4-10е места – 100р.</h5>
        <h5> Для получения приза <a href="https://vk.com/vovartus?w=wall4764971_3676%2Fall" target="_blank"> смотрите комментарий к объявлению </a>  </h5>
        <h5> Окончательный итого будет подведен 31.10.2022 в 21:00 (по московскому времени) </h5>-->
    </form>
    </div>

    <style>
        h2, h3, h4, h5 {
          font-style: italic;
        }

        .column-left {
        float: left;
        width: 65%;
        text-align: left;
        padding-left: 3vw;
        padding-right: 1vw;
        }

        .column1-left {
        float: left;
        width: 58%;
        text-align: right;
        padding-left: 3vw;
        padding-right: 1vw;
        }

        .column1-center {
        float: left;
        width: 7%;
        }

        .column-right {
        float: left;
        width: 35%;
        text-align: center;
        }

    </style>

    <script>
    fl={{fl}};
    if (fl==1)  {addEventListener("keydown", function(event) {
                     if (event.keyCode==13 || event.keyCode==32)
                         {document.getElementById('butt4').click();}})}
    function Func() {
    if (fl==0) {document.getElementById('inpu').style.display='none';
        document.getElementById('butt1').style.display='none';
        document.getElementById('butt2').style.display='none';
        }
    if (fl==1)  {document.getElementById('butt4').style.display='none';
                 document.getElementById('butt8').style.display='none';
                }
    document.getElementById('butt3').style.display='none';
    document.getElementById('butt6').style.display='none';
    document.getElementById('butt7').style.display='none';
    localStorage.setItem('vrk', 10000);
    var txt2 = document.getElementById('wait');
    txt2.innerHTML = 'ПОЖАЛУЙСТА, ОЖИДАЙТЕ';
    txt2.style.cssText = 'font-style: italic; font-size: 36px; margin-top: 50px;';
    localStorage.setItem('key3',0);
    localStorage.setItem('kontr', 0);
    localStorage.setItem('pravresh', 0);
    localStorage.setItem('bezosh', 0);
    localStorage.setItem('totsum', 0);
    localStorage.setItem('lvl1', 0);
    localStorage.setItem('lvl2', 0);
    localStorage.setItem('lvl3', 0);
    localStorage.setItem('lvl4', 0);
    localStorage.setItem('lvl5', 0);
    localStorage.setItem('lvl6', 0);
    i = 0;
    st = '';
    while(i < 200)  {
        n = Math.floor(Math.random() * 9) + 1;
        if (i != 199) {st = st + n + '$';}
        else {st = st + n;}
        i++;
        }
    localStorage.setItem('shifr', st);
    document.cookie = "keyshif=" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    document.cookie = "keyshif=" + st;
    }

    </script>
{% endblock %}