{% extends 'jsprob/shabl.html' %}
{% block title %} ИТОГ ИГРЫ {% endblock %}
{% block content %}

<aside>
    <h3 class="featuress" style="font-style: italic"> ИТОГИ ИГРЫ: </h3>
</aside>
        <div class="features">

        <h5 class='centstr' style='color:#AD1457'> Этап 1. Разминка. </h5>
        <h5 class='rightstr' style='color:#AD1457'> {{lv1}} </h5>

        <h5 class='centstr' style='color: #0000ff'> Этап 2. "Сквозь десятки". </h5>
        <h5 class='rightstr' style='color: #0000ff'> {{lv2}} </h5>

        <h5 class='centstr' style='color: #2E7D32'> Этап 3. "Минуя сотни". </h5>
        <h5 class='rightstr' style='color: #2E7D32'> {{lv3}} </h5>

        <h5 class='centstr' style='color:#AD1457'> Этап 4. "Хитрое" умножение. </h5>
        <h5 class='rightstr' style='color:#AD1457'> {{lv4}} </h5>

        <h5 class='centstr' style='color: #0000ff'> Этап 5. "Life hack"-Деление. </h5>
        <h5 class='rightstr' style='color: #0000ff'> {{lv5}} </h5>

        <h4 class='centstr'> ВСЕГО: </h4>
        <h4 class='rightstr'> {{su}} </h4>

        <h5 class='centstr' style='color:#AD1457'> Бонус за безошибочные ответы:{{bon}}</h5>
        <h5 class='rightstr' style='color:#AD1457'> {{bonz}} </h5>
        <div style="clear: left"></div>
        </br>

        <h3 style="font-style: italic; font-size: 28px;" id = 'txt'> {{txt}} </h3>
        <h3 style="font-style: italic; font-size: 28px;" id = 'txt2'> {{txt1}} </h3>
        </br></br>
        {% if txt2 != '' %}
        <h3 style="font-style: italic; font-size: 24px; float: center;" > {{txt2}} </h3>
        {% endif %}
        {% if txt3 != '' %}
        <h3 style="font-style: italic; font-size: 24px; float: center;" > {{txt3}} </h3>
        {% endif %}
        {% if txt4 != '' %}
        <h3 style="font-style: italic; font-size: 24px; float: center;" > {{txt4}} </h3>
        {% endif %}
        {% if txt5 != '' %}
        <h3 style="font-style: italic; font-size: 24px; float: center;" > {{txt5}} </h3>
        {% endif %}
        {% if txt6 != '' %}
        <h3 style="font-style: italic; font-size: 24px; float: center;" > {{txt6}} </h3>
        {% endif %}
        </br></br>
        <h2 style="font-style: italic; font-size: 24px; float: center;" > {{txt7}} </h2>
        <h2 style="font-style: italic; font-size: 20px; float: right;" > {{txt8}} </h2>
        </br></br></br>
        <h4 id = 'wait'> </h4>
        <a href="{% url 'toptab' %}" id = "butt" class="btn btn-success" onclick="Func()"> ТОП ИГРОКОВ </a>

    </div>

    <style>


   .centstr {
    float: left;
    width: 75%;
    text-align: center;
   }
   .rightstr {
    float: left;
    width: 25%;
    text-align: left;
   }
     </style>

    <script>



    function Func() {
            document.getElementById('butt').style.display='none';
            var txt2 = document.getElementById('wait');
            txt2.innerHTML = 'ПОЖАЛУЙСТА, ОЖИДАЙТЕ';
            txt2.style.fontStyle = 'Italic';
            }

    </script>
{% endblock %}