{% extends 'jsprob/shabl.html' %}
{% block title %} Достижения игроков {% endblock %}
{% block content %}

<aside>
    <h2 class="featuress" style="font-style: italic" > {{txt1}} </h2>
    {% if txtpz != '' %}
    <h2 class="featuress" style="font-style: italic" > Великолепно! </h2>
    {% endif %}
</aside>

    <form action="" method="get">
            {% csrf_token %}

    <div class="features">

         <h4 style='font-size: max(17px, 1.7vw)'> {{txt5}} </h4><br>
         <h3 style='font-size: max(18px, 1.8vw)'> {{txt6}} </h3><br>
         <h5 style='font-size: max(16px, 1.6vw)'> {{txt2}} </h5>

        {% if txtpz != '' %}
        </br></br></br>
        <h2 style='font-size: max(17px, 1.7vw); font-style: italic' > {{txt7}} </h2>
        <h2 style='font-size: max(14px, 1.4vw); float: right;' > {{txt8}} </h2>
        </br>
        {% endif %}
        </br>
        <h2 id ='wt' style="font-style: italic"></h2>
        <button class="btn btn-danger btn" id = 'butt' type="submit" name="prod" onclick="Func()"> ПРОДОЛЖИТЬ </button></br></br>
    </div>
    </form>




    <script>
    function Func() {
                document.getElementById('butt').style.display='none';
                document.getElementById('wt').innerHTML = 'Пожалуйста, подождите.';}
    </script>
{% endblock %}