{% extends 'jsprob/shabl.html' %}
{% block title %} Достижения игроков {% endblock %}
{% block content %}

<aside>
    <h2 class="featuress" style="font-style: italic" > {{txt1}} </h2>
</aside>


    <form action="" method="get">
            {% csrf_token %}

    <div class="features">
         <h3> {{txt2}} </h3>
         <h3> {{txt3}} </h3>
         <h3> {{txt4}} </h3>
         <h3> {{txt5}} </h3>
        </br>
        <h2 id ='wt' style="font-style: italic"></h2>
        <button class="btn btn-danger btn" id = 'butt' type="submit" name="prod" > ПРОДОЛЖИТЬ </button></br></br>
    </div>
    </form>




    <script>
    function Func() {
                document.getElementById('butt').style.display='none';
                document.getElementById('wt').innerHTML = 'Пожалуйста, подождите.';}
    </script>
{% endblock %}