{% extends 'jsprob/shabl.html' %}
{% block title %} Этап 3 {% endblock %}
{% block content %}

    <div class="features">
        <h2 style="font-style: italic; font-size: 96px;" > Этап 3. </h2>
        <h2 style="font-style: italic; font-size: 52px;" > "Минуя сотни" </h2></br>
        <h2 id ='wt'></h2>
        <button class="btn btn-success btn-lg" id = 'butt'  onclick="Func()"> НАЧАТЬ </button></br></br>

    </div>
    <script>
    function Func() {
            document.getElementById('butt').style.display='none';
            document.getElementById('wt').innerHTML = 'GO!';
            document.getElementById('wt').style.cssText = 'font-style: italic; font-size: 112px;'
            document.cookie = "lelrec15=" +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            document.cookie = "lelrec15=e";
            window.location.assign('list3');
            }
    </script>
{% endblock %}