{% extends 'jsprob/shabl.html' %}
{% block title %} Объединение {% endblock %}
{% block content %}

<aside>
    <h2 class="featuress" style="font-style: italic; font-size: min(37px, 4vw);" id = 'nomb'> Введите измененные данные id старое и новое </h2>
</aside>


    <div class="features">
         <form action="" method="get">
            {% csrf_token %}
        </br></br>
        <h4> <input type="number" id="inpu1" name="prosh" placeholder='Прошлое ID' maxlength="25"  size="20"> </h4>
        <h4> <input type="number" id="inpu2" name="nast" placeholder='Новое ID' maxlength="25"  size="20"> </h4>
             </br>


        <button class="btn btn-success btn" style="font-size: min(25px, 3vw);" type="submit" name="uni" onclick="Func(1)"> ВВЕСТИ </button></br></br>
        <a href="{% url 'home' %}" style="font-size: min(25px, 3vw);" class="btn btn-success btn-sm" onclick="Func(2)"> Начальное меню </a></br></br>

    </form>
    </div>

{% endblock %}